<div id="experience" class="experience-section">
    <h2 class="section-title">Experience</h2>
    <ul>
        <li>Graduated top of my class in the Navy Seals</li>
        <li>Involved in numerous secret raids on Al-Quaeda</li>
        <li>Over 300 confirmed kills</li>
        <li>Trained in gorilla warfare</li>
        <li>Top sniper in the entire US armed forces</li>
        <li>Extensively trained in unarmed combat</li>
        <li>Have access to the entire arsenal of the United States Marine Corps</li>
    </ul>
</div>