.projects
    $projects-per-row: 4
    margin-top: 1em
    width: 100%
    background: white
    line-height: 0

    .project-card-wrapper
        $size: 100% / $projects-per-row
        position: relative
        display: inline-block
        width: $size
        padding-top: $size