#projects
    margin: auto
    margin-top: 1em
    width: 90%
    background: white
    line-height: 0

    .project-card-wrapper
        $size: 33.3333%
        position: relative
        display: inline-block
        width: $size
        padding-top: $size